<div class="container-fluid">
  <div class="row page-heading d-flex justify-content-around">
    <div class="col-md-6 text-center">
      <h1>Articles</h1>
    </div>
  </div>

  <div class="row articles">
    <div class="col-md-4">
      <div class="card article">
        <img src="assets/1.png" class="card-img-top article-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Palo Alto Networks</h5>
          <p class="card-text">
            The integration of the VM-Series Virtual Next-Generation Firewall with the new Amazon VPC Ingress Routing feature makes it much easier for customers to ensure that all ingress traffic to their VPC is filtered through our threat prevention services.
          </p>
          <a href="https://aws.amazon.com/vpc/?nc2=h_ql_prod_fs_vpc" class="btn btn-primary">Read Full Article Here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card article">
        <img src="assets/2.png" class="card-img-top article-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Fortinet</h5>
          <p class="card-text">
            Amazon VPC Ingress routing allows Fortinet to offer more confidence to customers by enabling Fortinet network security on any traffic entering their business critical VPC’s. VPC Ingress Routing also allows for much more flexible solutions that help secure different workloads with separate Fortinet Products in a single VPC.
          </p>
          <a href="https://aws.amazon.com/vpc/?nc2=h_ql_prod_fs_vpc" class="btn btn-primary">Read Full Article Here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card article">
        <img src="assets/3.png" class="card-img-top article-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Check Point</h5>
          <p class="card-text">
            Our enterprise customers generally use AWS Transit Gateway for deploying CloudGuard advanced threat prevention, but this isn’t suitable for small and medium enterprises with a limited number of VPCs. The VPC ingress routing enhancement provides customers with smaller deployments with an easier, more efficient and more natural way to redirect traffic flowing into a VPC for advanced security.
          </p>
          <a href="https://aws.amazon.com/vpc/?nc2=h_ql_prod_fs_vpc" class="btn btn-primary">Read Full Article Here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card article">
        <img src="assets/4.png" class="card-img-top article-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Barracuda</h5>
          <p class="card-text">
            VPC ingress routing allows our customers to screen all external traffic through Barracuda’s CloudGen Firewall before it reaches its destination. Using VPC ingress routing, customers can now apply customized deep packet inspection policies based on their destination. VPC ingress routing is native with Amazon VPCs and makes it easier for our customers to deploy Barracuda’s in-line cloud security solutions.
          </p>
          <a href="https://aws.amazon.com/vpc/?nc2=h_ql_prod_fs_vpc" class="btn btn-primary">Read Full Article Here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card article">
        <img src="assets/5.png" class="card-img-top article-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Sophos</h5>
          <p class="card-text">
            It’s absolutely critical that organizations secure cloud infrastructure – including the traffic within – as cybercriminals are increasingly targeting and launching advanced attacks against these cloud environments. AWS and Sophos are tackling cloud security head on. 
          </p>
          <a href="https://aws.amazon.com/vpc/?nc2=h_ql_prod_fs_vpc" class="btn btn-primary">Read Full Article Here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card article">
        <img src="assets/6.png" class="card-img-top article-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Aviatrix</h5>
          <p class="card-text">
            Leveraging the new Amazon VPC Ingress Routing enhancement, customers can now route VPC network traffic through to advanced inline services. Aviatrix cloud-native networking software embraces and extends native AWS services – in this case the new VPC Ingress Routing combined with AWS GuardDuty services to provide ingress and egress enforcement policies via Aviatrix gateways.
          </p>
          <a href="https://aws.amazon.com/vpc/?nc2=h_ql_prod_fs_vpc" class="btn btn-primary">Read Full Article Here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card article">
        <img src="assets/7.png" class="card-img-top article-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Citrix</h5>
          <p class="card-text">
            Users today don’t care where the applications they need to do their jobs are hosted. They just want them to perform in a consistent, dependable way so they can get things done. Through the integration between Citrix® ADC and Amazon VPC ingress routing from AWS, we can bring a proven, enterprise-class solution to the masses in a convenient delivery model and enable a high performance experience that empowers people to do their best work.
          </p>
          <a href="https://aws.amazon.com/vpc/?nc2=h_ql_prod_fs_vpc" class="btn btn-primary">Read Full Article Here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card article">
        <img src="assets/8.png" class="card-img-top article-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Trend Micro</h5>
          <p class="card-text">
            Trend Micro provides multi-layered hybrid cloud security for thousands of customers on AWS. Amazon VPC ingress routing allows for the broad adoption and enhanced deployment flexibility for our cloud network security solutions, enabling our customers to protect their AWS VPCs quickly and at scale, without disrupting their business applications.
          </p>
          <a href="https://aws.amazon.com/vpc/?nc2=h_ql_prod_fs_vpc" class="btn btn-primary">Read Full Article Here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card article">
        <img src="assets/9.png" class="card-img-top article-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">FireEye</h5>
          <p class="card-text">
            FireEye Network Security customers already benefit from the ability to apply advanced threat protection and breach detection to their AWS environments. The announcement of Amazon VPC ingress routing makes deployment of the FireEye Network Security solution in AWS even easier. 
          </p>
          <a href="https://aws.amazon.com/vpc/?nc2=h_ql_prod_fs_vpc" class="btn btn-primary">Read Full Article Here</a>
        </div>
      </div>
    </div>
  </div>
</div>
