<footer class="footer mt-auto py-3 bg-light">
  <div class="container-fluid">
    <div class="row my-2">
      <div class="col-md-4 text-center">
        <h4>Origin</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nam exercitationem inventore ab, ea voluptatum corrupti eligendi quasi nisi voluptatem soluta beatae laborum officia provident delectus. Dolores, doloremque nulla? Est?</p>
      </div>
      <div class="col-md-4 text-center">
        <h4>Important Links</h4>
        <ul>
          <li><a href="http://" target="_blank" rel="noopener noreferrer">link pe click kar</a></li>
          <li><a href="http://" target="_blank" rel="noopener noreferrer">link pe click kar</a></li>
          <li><a href="http://" target="_blank" rel="noopener noreferrer">link pe click kar</a></li>
          <li><a href="http://" target="_blank" rel="noopener noreferrer">link pe click kar</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h4>Social Media</h4>
        <ul>
          <li><a href="http://" target="_blank" rel="noopener noreferrer">link pe click kar</a></li>
          <li><a href="http://" target="_blank" rel="noopener noreferrer">link pe click kar</a></li>
          <li><a href="http://" target="_blank" rel="noopener noreferrer">link pe click kar</a></li>
          <li><a href="http://" target="_blank" rel="noopener noreferrer">link pe click kar</a></li>
        </ul>
      </div>
    </div>
    <div class="row border-top my-2">
      <div class="col-md-6 tnc">
        copywrite
      </div>
      <div class="col-md-6 creator">
        Created By: <a href="http://" target="_blank" rel="noopener noreferrer"> Kabir </a>
      </div>
    </div>
  </div>
</footer>