<div class="container-fluid">
  <div class="row main-content">
    <div class="col-md-6">
      <img
        src="assets/aws_cover.jpg"
        class="img-fluid img-thumbnail w-100"
        alt="..."
      />
    </div>
    <div class="col-md-6 banner-details">
      <h1>Amazon Web Services (AWS)</h1>
      <p class="banner_text">
        Amazon Web Services (AWS) is a subsidiary of Amazon providing on-demand
        cloud computing platforms and APIs to individuals, companies, and
        governments, on a metered pay-as-you-go basis. These cloud computing web
        services provide a variety of basic abstract technical infrastructure
        and distributed computing building blocks and tools. One of these
        services is Amazon Elastic Compute Cloud (EC2), which allows users to
        have at their disposal a virtual cluster of computers, available all the
        time, through the Internet. AWS's version of virtual computers emulates
        most of the attributes of a real computer, including hardware central
        processing units (CPUs) and graphics processing units (GPUs) for
        processing; local/RAM memory; hard-disk/SSD storage; a choice of
        operating systems; networking; and pre-loaded application software such
        as web servers, databases, and customer relationship management (CRM).
      </p>
      <p class="banner_text">
        The AWS technology is implemented at server farms throughout the world,
        and maintained by the Amazon subsidiary. Fees are based on a combination
        of usage (known as a "Pay-as-you-go" model), hardware, operating system,
        software, or networking features chosen by the subscriber required
        availability, redundancy, security, and service options. Subscribers can
        pay for a single virtual AWS computer, a dedicated physical computer, or
        clusters of either. As part of the subscription agreement, Amazon
        provides security for subscribers' systems. AWS operates from many
        global geographical regions including 6 in North America.
      </p>

      <button type="button" class="btn btn-primary">Discover More!</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center services-heading">
      <h3>Major AWS Services</h3>
      <p>As of 2021, AWS comprises over 200 products and services including computing, storage, networking, database, analytics, application services, deployment, management, machine learning, mobile, developer tools, and tools for the Internet of Things. The most popular include Amazon Elastic Compute Cloud (EC2), Amazon Simple Storage Service (Amazon S3), Amazon Connect, and AWS Lambda (a serverless function enabling serverless ETL e.g. between instances of EC2 & S3).</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card">
        <img src="assets/iam_cover.png" class="card-img-top service-image"  alt="..." />
        <div class="card-body">
          <h5 class="card-title">Identity Access Management</h5>
          <p class="card-text">
            AWS Identity and Access Management (IAM) is a web service that helps you securely control access to AWS resources. You use IAM to control who is authenticated (signed in) and authorized (has permissions) to use resources.
          </p>
          <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/introduction.html" class="btn btn-primary">Click for More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card">
        <img src="assets/s3_cover.png" class="card-img-top service-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Simple Storage Service</h5>
          <p class="card-text">
            Amazon Simple Storage Service (Amazon S3) is storage for the Internet. It is designed to make web-scale computing easier. Amazon S3 has a simple web services interface that you can use to store and retrieve any amount of data, at any time, from anywhere on the web.
          </p>
          <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/Welcome.html" class="btn btn-primary">Click for More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card">
        <img src="assets/ec2_cover.png" class="card-img-top service-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Elastic Compute Cloud</h5>
          <p class="card-text">
            Amazon Elastic Compute Cloud (Amazon EC2) is a web service that provides secure, resizable compute capacity in the cloud. It is designed to make web-scale cloud computing easier for developers. Amazon EC2’s simple web service interface allows you to obtain and configure capacity with minimal friction.
          </p>
          <a href="https://aws.amazon.com/ec2/?ec2-whats-new.sort-by=item.additionalFields.postDateTime&ec2-whats-new.sort-order=desc" class="btn btn-primary">Click for More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card">
        <img src="assets/sso_cover.png" class="card-img-top service-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Single Sign-On</h5>
          <p class="card-text">
            AWS Single Sign-On (SSO) makes it easy to centrally manage access to multiple AWS accounts and business applications and provide users with single sign-on access to all their assigned accounts and applications from one place. With AWS SSO, you can easily manage access and user permissions to all of your accounts in AWS Organizations centrally. 
          </p>
          <a href="https://aws.amazon.com/single-sign-on/" class="btn btn-primary">Click for More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card">
        <img src="assets/lambda_cover.png" class="card-img-top service-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Lambda</h5>
          <p class="card-text">
            AWS Lambda is a serverless compute service that lets you run code without provisioning or managing servers, creating workload-aware cluster scaling logic, maintaining event integrations, or managing runtimes. With Lambda, you can run code for virtually any type of application or backend service - all with zero administration.
          </p>
          <a href="https://aws.amazon.com/lambda/" class="btn btn-primary">Click for More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card">
        <img src="assets/dynamo_cover.png" class="card-img-top service-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">DynamoDB</h5>
          <p class="card-text">
            Amazon DynamoDB is a key-value and document database that delivers single-digit millisecond performance at any scale. It's a fully managed, multi-region, multi-active, durable database with built-in security, backup and restore, and in-memory caching for internet-scale applications. DynamoDB can handle more than 10 trillion requests per day and can support peaks of more than 20 million requests per second.
          </p>
          <a href="https://aws.amazon.com/dynamodb/" class="btn btn-primary">Click for More</a>
        </div>
      </div>
    </div>
  </div>
</div>
