<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 page_banner">
      <h1>About AWS</h1>
      <p>
        In 2006, Amazon Web Services (AWS) began offering IT infrastructure services to businesses in the form of web services -- now commonly known as cloud computing. One of the key benefits of cloud computing is the opportunity to replace up-front capital infrastructure expenses with low variable costs that scale with your business.
      </p>
      <a href="https://aws.amazon.com/about-aws/">  Link </a>
    </div>
  </div>
  <div class="row d-flex justify-content-between feature-container">
    <div class="col-md-5">
        <div class="row feature">
            <div class="col-md-7 feature-details">
                <h6 class="feature-tag">Technology</h6>
                <h3>Cloud Migration and Management</h3>
                <p class="feature-date">1 Jan</p>
                <p>Echoing the rising trend in cloud adoption, Amazon Web Services (AWS) is fast emerging as the cloud platform of choice for global enterprises.... </p>
                <a href="https://cloud4c.com/lp/aws-cloud-services/?utm_source=google_search&utm_medium=cpc&utm_campaign=MSP_Cloud_AWS_India_Exp_Srch&utm_term=%2Baws%20%2Bcloud&utm_content=457761254283&utm_device=c&gclid=Cj0KCQjwweyFBhDvARIsAA67M72uKx6mPNu50bNklB6ys_823WAjy_uIsoQ7c0CjjKioxNUgpchd6dIaAlpUEALw_wcB">Continue reading</a>
            </div>
            <div class="col-md-5">
                <img src="assets/cs_1.jpg" class="img-fluid img-thumbnail" alt="...">
            </div>
            
        </div>
    </div>
    <div class="col-md-5 feature">Part B</div>
  </div>
  <div class="row">
      <div class="col-md-8">
         <h4> News</h4>
         <h2> Blog </h2>
         <p>1 June</p>
         <div class="border-top my-3"></div>
         <p>AWS offers low, pay-as-you-go pricing with no up-front expenses or long-term commitments. </p>
         <div class="border-top my-3"></div>
         <p>AWS provides a massive global cloud infrastructure that allows you to quickly innovate, experiment and iterate. </p>
      </div>
      <div class="col-md-4">
          <h3> Websites </h3>
          <p>Satisfy your dynamic web hosting needs with AWS’s scalable infrastructure platform.</p>
      
            <h3>Cloud Services</h3>
            <ol> 
                <li> <a href="https://aws.amazon.com/gamelift/?c=12&pt=1">First Link</a></li>
                <li><a href="https://aws.amazon.com/datapipeline/?c=1&pt=10">Second Link</a></li>
                <li><a href="https://aws.amazon.com/robomaker/?c=20&pt=1">Third Link</a></li>
            </ol>

        </div>

  </div>
</div>
