<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 page_banner">
      <h1>About AWS</h1>
      <p>
        In 2006, Amazon Web Services (AWS) began offering IT infrastructure services to businesses in the form of web services -- now commonly known as cloud computing. One of the key benefits of cloud computing is the opportunity to replace up-front capital infrastructure expenses with low variable costs that scale with your business.With the Cloud, businesses no longer need to plan for and procure servers and other IT infrastructure weeks or months in advance. Instead, they can instantly spin up hundreds or thousands of servers in minutes and deliver results faster. Today, Amazon Web Services provides a highly reliable, scalable, low-cost infrastructure platform in the cloud that powers hundreds of thousands of businesses in 190 countries around the world.
      </p>
      <a href="https://aws.amazon.com/about-aws/">  Link </a>
    </div>
  </div>
  <div class="row d-flex justify-content-between feature-container">
    <div class="col-md-5">
        <div class="row feature">
            <div class="col-md-7 feature-details">
                <h6 class="feature-tag">Technology</h6>
                <h3>Cloud Migration and Management</h3>
                <p class="feature-date">1 Jan</p>
                <p>Echoing the rising trend in cloud adoption, Amazon Web Services (AWS) is fast emerging as the cloud platform of choice for global enterprises.... </p>
                <a href="https://cloud4c.com/lp/aws-cloud-services/?utm_source=google_search&utm_medium=cpc&utm_campaign=MSP_Cloud_AWS_India_Exp_Srch&utm_term=%2Baws%20%2Bcloud&utm_content=457761254283&utm_device=c&gclid=Cj0KCQjwweyFBhDvARIsAA67M72uKx6mPNu50bNklB6ys_823WAjy_uIsoQ7c0CjjKioxNUgpchd6dIaAlpUEALw_wcB">Continue reading</a>
            </div>
            <div class="col-md-5">
                <img src="assets/cs_1.jpg" class="img-fluid img-thumbnail" alt="...">
            </div>
            
        </div>
    </div>
    <div class="col-md-5 feature">
      <div class="row feature">
        <div class="col-md-7 feature-details">
            <h6 class="feature-tag">Gaming</h6>
            <h3>Epic Games Uses AWS to Power Worldwide Game Fortnite</h3>
            <p class="feature-date">1 Jan</p>
            <p>
              Epic Games uses AWS to deliver Fortnite to more than 200 million players around the world, support growth of more than 100 times in just 12 months, and perform analysis that helps it improve the game. Fortnite, one of the world’s most popular video games, runs nearly entirely on AWS, including its worldwide game-server fleet, backend services, databases, websites, and analytics pipeline and processing systems....</p>
            <a href="https://aws.amazon.com/solutions/case-studies/EPICGames/?hp=tile&story=epg">Continue reading</a>
        </div>
        <div class="col-md-5">
            <img src="assets/game-cover.jpg" class="img-fluid img-thumbnail" alt="...">
        </div>
    </div>

  </div>
  <div class="row news-section">
      <div class="col-md-8">
         <h2> News</h2>
         <p>Amazon Web Services has partnered with education technology company DeepLearning.AI to offer a new specialization to help data professionals quickly master the essentials of machine learning and efficiently deploy data science projects at scale in the AWS cloud.</p>
         <h3> Blog </h3>
         <p>1 June</p>
         <div class="border-top my-3"></div>
         <p>AWS offers low, pay-as-you-go pricing with no up-front expenses or long-term commitments. We are able to build and manage a global infrastructure at scale, and pass the cost saving benefits onto you in the form of lower prices. With the efficiencies of our scale and expertise, we have been able to lower our prices on 15 different occasions over the past four years.  </p>
         <div class="border-top my-3"></div>
         <p>AWS provides a massive global cloud infrastructure that allows you to quickly innovate, experiment and iterate. Instead of waiting weeks or months for hardware, you can instantly deploy new applications, instantly scale up as your workload grows, and instantly scale down based on demand. Whether you need one virtual server or thousands, whether you need them for a few hours or 24/7, you still only pay for what you use.  </p>
      </div>
      <div class="col-md-4">
          <h2> Websites </h2>
          <p>Satisfy your dynamic web hosting needs with AWS’s scalable infrastructure platform.</p>
      
            <h3>Cloud Services</h3>
            <ol> 
                <li> <a href="https://aws.amazon.com/gamelift/?c=12&pt=1">Amazon Gamelift</a></li>
                <li><a href="https://aws.amazon.com/datapipeline/?c=1&pt=10">Amazon Data Pipeline</a></li>
                <li><a href="https://aws.amazon.com/robomaker/?c=20&pt=1">AWS RoboMaker</a></li>
            </ol>

        </div>

  </div>
</div>
